pkgbase = maki-git
	pkgdesc = An efficient AI coding agent. Native Rust TUI, extendable with Neovim-like Lua plugins
	pkgver = 0.5.3.r25.g0be4ebd
	pkgrel = 1
	url = https://github.com/tontinton/maki
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	makedepends = git
	makedepends = perl
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = zlib
	optdepends = rtk: filter bash output to save ~50% of those tokens
	provides = maki=0.5.3.r25.g0be4ebd
	conflicts = maki
	conflicts = maki-bin
	options = !lto
	source = maki-git::git+https://github.com/tontinton/maki.git
	sha256sums = SKIP

pkgname = maki-git
